.doudizhu-skill-box {
	pointer-events: none;
}
.doudizhu-skill-btn {
	position: relative;
	background: url("shoushaUI/skill/images/btnnhs3.png") no-repeat center/cover;
	color: #fff;
	font-size: 15px;
	font-weight: bold;
	margin: 8px 0;
	padding: 6px 6px;
	text-align: center;
	font-family: "yuanli";
	letter-spacing: 2px;
	min-width: 60px;
}
.doudizhu-skill-btn::before,
.doudizhu-skill-btn::after {
	content: "";
	position: absolute;
	top: 50%;
	width: 16px;
	height: 24px;
	transform: translateY(-50%);
}
.doudizhu-skill-btn::before {
	left: 4px;
}
.doudizhu-skill-btn::after {
	right: 4px;
	transform: translateY(-50%) scaleX(-1);
}
