.button.character,
#arena > .player.xplayer {
	--width: 120px;
}

.popup-container > .character-dialog {
	top: calc(50% - var(--h) / 2 + var(--bt));
	left: calc(50% - var(--w) / 2 + var(--bl));
}

/* .character-dialog {
	--w: 660px;
	--h: 450px;
	--bt: calc(var(--h) * 40 / 290);
	--bl: calc(var(--w) * 38 / 497);
	--bb: calc(var(--h) * 17 / 290);
	--dw: calc(var(--w) - 2 * var(--bl));
	--dh: calc(var(--h) - var(--bt) - var(--bb));

	width: var(--dw);
	height: var(--dh);
	position: absolute;
	box-sizing: border-box;
	padding: 10px;
	z-index: 13;
} */
.character-dialog {
  --w: 700px;
  --h: 450px;
  --bt: calc(var(--h) * 15 / 290);
  --bl: calc(var(--w) * 38 / 497);
  --bb: calc(var(--h) * 17 / 290);
  --dw: calc(var(--w) - 2 * var(--bl));
  --dh: calc(var(--h) - var(--bt) - var(--bb));
  width: var(--dw);
  height: var(--dh);
  position: absolute;
  box-sizing: border-box;
  padding: 10px;
  z-index: 13;
}
.character-dialog>.blackBg {
  padding: 10px 25px;
  position: relative;
  width: 100%;
  height: 115px;
  top: 0;
  left: -25px;
  background-color: #00000052;
  clip-path: polygon(10px 0%,calc(100% - 10px) 0%,100% 10px,100% calc(100% - 10px),calc(100% - 10px) 100%,10px 100%,0 calc(100% - 10px),0 10px);
}
.blackBg.two {
  margin-top: 8px;
  height: 218px;
}
.character-dialog .basicInfo {
  position: relative;
  height: 30px;
  display: block;
  margin-left: 20px;
}
.character-dialog .basicInfo .mingcheng{
  position: relative;
  font-size: 20px;
  color: rgb(75, 59, 48);
  text-shadow: none;
  font-weight: bold;
  font-family: shousha;
  z-index: 68;
}
.character-dialog .basicInfo .dengji {
  position: relative;
  font-size: 20px;
  color: rgb(162 255 0);
  text-shadow: none;
  font-weight: normal;
  font-family: shousha;
  z-index: 68;
  margin-left: 20px;
}
/* 官阶 */
.character-dialog .offical-bg {
  position: relative;
  height: 35px;
  width: 280px;
  background-image: url("./images/offical_icon/pub_red_bg1.png");
  background-size: 100% 100%;
  margin: 5px 0 8px 23px;
}
.character-dialog .offical-bg .offical-icon {
  position: absolute;
  top: -13px;
  left: -21px;
  height: 60px;
  width: 60px;
  /* background-image: url("./images/offical_icon/offical_icon_11.png"); */
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}
.character-dialog .offical-bg .offical-text {
  position: absolute;
  left: 60px;
  height: 100%;
  line-height: 35px;
  font-family: 'shousha';
  font-size: 26px;
  color: #daff00;
}
/* 对局信息 胜率逃率 */
.character-dialog .fight-bg {
  position: relative;
  height: 35px;
  width: 100%;
  margin-left: 15px;
}
.character-dialog .fight-bg>.shenglv {
  position: relative;
  font-size: 30px;
  font-family: 'shousha';
  color: #eedecf;
  margin-right: 40px;
}
/* 查看名片 */
.viewBusinessCard {
  position: absolute;
  width: 98px;
  height: 38px;
  top: 40%;
  right: 8%;
  background-image: url("./images/btn.png");
  background-size: 100% 100%;
  font-family: 'shousha';
  line-height: 38px;
  text-align: center;
  color: #e6e6e6;
}

.character-dialog.dialog2 {
	--bt: calc(var(--h) * 10 / 280);
	--bl: calc(var(--w) * 12 / 287);
	--bb: calc(var(--h) * 20 / 280);
}
.character-dialog.popped {
	animation: dialog_start2 0.3s;
	-webkit-animation: dialog_start2 0.3s;
}
.character-dialog::before {
	content: "";
	top: calc(0% - var(--bt));
	left: calc(0% - var(--bl));
	width: var(--w);
	height: var(--h);
	position: absolute;
	background-image: url("./images/dialogx1.png");
	background-size: 100% 100%;
}
.character-dialog.dialog2::before {
	background-image: url("./images/dialog2.png");
}
.character-dialog > div {
	top: 0;
	height: 100%;
	position: absolute;
}

.character-dialog > div.biankuang {
	width: 21%;
	height: 40%;
	top: 47%;
	left: 3.6%;
	background-size: 100% 100%;
	z-index: 68;
	position: relative;
}

.character-dialog > .blackBg.two > div.biankuang2 {
  width: 120px;
  height: 160px;
  top: calc(50% - 73px);
  left: 30px;
  background-size: 100% 100%;
  z-index: 68;
  position: absolute;
}

.xing {
  position: absolute;
  width: 15px;
  height: 100%;
  left: 3%;
  bottom: 4%;
  z-index: 99;
  display: inline-flex;
  flex-direction: column-reverse;
}
.xing > .item {
  position: relative;
  background: url("./images/xing.png");
  background-size: cover;
  width: 16px;
  height: 16px;
  z-index: 99;
}

.xing2 {
	position: relative;
	width: 15px;
	height: 24%;
	left: 4.5%;
	z-index: 99;
	display: inline-flex;
	flex-direction: column-reverse;
}
.xing2 > .item {
	position: relative;
	background: url("./images/xing.png");
	background-size: cover;
	width: 15px;
	height: 15px;
	left: 60%;
	top: -16%;
	z-index: 99;
}

.bigdialog {
	position: relative;
	background: url("./images/bigdialog.png");
	background-size: 100% 100%;
	width: 80%;
	height: 100%;
	left: 10%;
	top: 0;
	z-index: 99;
}

.shanchang1 {
	left: 30.5%;
	top: 42.6%;
	height: 30.4%;
	width: 13.5%;
	opacity: 1;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: top;
	border-radius: 9px;
	transition-property: opacity, transform;
	z-index: 69;
}

.shanchang2 {
	left: 45%;
	top: 42.6%;
	height: 30.4%;
	width: 13.5%;
	opacity: 1;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: top;
	border-radius: 9px;
	transition-property: opacity, transform;
	z-index: 69;
}

.shanchang3 {
	left: 59.5%;
	top: 42.6%;
	height: 30.4%;
	width: 13.5%;
	opacity: 1;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: top;
	border-radius: 9px;
	transition-property: opacity, transform;
	z-index: 69;
}

.shanchang4 {
	left: 74%;
	top: 42.6%;
	height: 30.4%;
	width: 13.5%;
	opacity: 1;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: top;
	border-radius: 9px;
	transition-property: opacity, transform;
	z-index: 69;
}

.useless {
	left: 40%;
	top: 80%;
	height: 10%;
	width: 15%;
	background-size: 100% 100%;
	z-index: 69;
}

.useless2 {
	left: 65%;
	top: 80%;
	height: 10%;
	width: 15%;
	background-size: 100% 100%;
	z-index: 69;
}
/*玩家头像*/
.minixingxiang {
	/*left:calc(100% - 1000px);
	top: auto;
	bottom: 53%;
	width: 11%;
	height: 32%;*/
	opacity: 1;
	left: 9.7%;
	top: 15%;
	height: 32%;
	width: 16%;
	/*position:fixed;*/
	background-size: cover;
	background-repeat: no-repeat;
	background-position: top;
	border-radius: 9px;
	transition-property: opacity, transform;
	z-index: 69;
}

.xingbie {
	left: 9.5%;
	top: 48%;
	height: 5%;
	width: 3.5%;
	background-size: 100% 100%;
	z-index: 69;
}

.jingji {
	left: 9.7%;
	top: 57%;
	height: 32%;
	width: 16%;
	background-size: 100% 100%;
	z-index: 69;
}

/*大资料页名称*/
.wanjiaming {
	font-size: 22px;
	top: 49%;
	left: 13%;
	color: white;
	text-align: left;
	-webkit-text-stroke: 0.15px rgba(0, 0, 0, 1);
	text-shadow: 0.1px 0.1px 0.25px rgba(0, 0, 0, 0.1);
	z-index: 99;
}

/*分享*/
.fenxiang {
	font-size: 18px;
	top: 82.5%;
	left: 45%;
	color: white;
	text-align: center;
	-webkit-text-stroke: 0.15px rgba(0, 0, 0, 1);
	text-shadow: 0.1px 0.1px 0.25px rgba(0, 0, 0, 0.1);
	z-index: 99;
}

/*展示*/
.zhanshi {
	font-size: 18px;
	top: 82.9%;
	left: 66.6%;
	color: white;
	text-align: center;
	-webkit-text-stroke: 0.15px rgba(0, 0, 0, 1);
	text-shadow: 0.1px 0.1px 0.25px rgba(0, 0, 0, 0.1);
	z-index: 99;
}

/*公会*/
.gonghui {
	font-size: 15px;
	top: 54%;
	left: 10%;
	color: orange;
	text-align: left;
	-webkit-text-stroke: 0.15px rgba(0, 0, 0, 1);
	text-shadow: 0.1px 0.1px 0.25px rgba(0, 0, 0, 0.1);
	z-index: 99;
}

/*鲜花*/
.xianhua {
	font-size: 10px !important;
	top: 90.5%;
	left: 13%;
	color: white;
	text-align: left;
	-webkit-text-stroke: 0.15px rgba(0, 0, 0, 1);
	text-shadow: 0.1px 0.1px 0.25px rgba(0, 0, 0, 0.1);
	z-index: 99;
}

/*鸡蛋*/
.jidan {
	font-size: 10px;
	top: 90.5%;
	left: 22.5%;
	color: white;
	text-align: left;
	-webkit-text-stroke: 0.15px rgba(0, 0, 0, 1);
	text-shadow: 0.1px 0.1px 0.25px rgba(0, 0, 0, 0.1);
	z-index: 99;
}
/*武将名字*/
.character-dialog .biankuang2 > div.biankuangname {
  position: absolute;
  width: 15px;
  left: 3%;
  top: 14%;
  font-size: 16px;
  font-family: shousha;
  z-index: 99;
}

.character-dialog > div.biankuangname2 {
	position: absolute;
	width: 15px;
	left: 5.8%;
	top: 52%;
	font-size: 1.8vw;
	font-family: shousha;
	z-index: 99;
}

.character-dialog > div.dengji {
	z-index: 68;
}
/*武将牌露头*/
.character-dialog > div.left {
	left: 50px;
	top: auto;
	bottom: 15.4%;
	width: 16.5%;
	height: 39%;
	opacity: 1;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: top;
	border-radius: 10px;
	-webkit-clip-path: url(#solo-clip);
	transition-property: opacity, transform;
	z-index: 69;
}

/*武将牌不露头*/
.character-dialog .biankuang2 > div.left2 {
  left: 19%;
  top: auto;
  bottom: 2%;
  width: 78.5%;
  height: 96%;
  opacity: 1;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
  border-radius: 7px;
  transition-property: opacity, transform;
  z-index: 69;
}

.character-dialog div.right {
	left: 50%;
	width: 50%;
	box-sizing: border-box;
	/* padding: 20px 15px 20px 0; */
	overflow: auto;
}
.character-dialog.single div.right {
  left: 173px;
  width: calc(100% - 193px);
  height: calc(100% - 20px);
  /* background-color: #fefefe6b; */
}
.character-dialog > div.left > div {
	top: 65%;
	right: 30px;
	width: 210px;
	text-align: center;
	transform: translateY(-50%);
	position: absolute;
	white-space: nowrap;
}
.character-dialog.single > div.left > div {
	width: 105px;
	position: absolute;
}
.character-dialog div.right > div {
  position: absolute !important;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
}
.character-dialog div.right div {
  position: relative;
  /* bottom: -35%; */
}
.character-dialog div.right .xcaption {
  width: 100%;
  bottom: 0%;
  color: #cbc6b3;
  text-align: center;
  font-size: 18px;
  font-weight: bold;
  padding: 10px 0;
  font-family: 'shousha';
}

.character-dialog div.right .xskill {
	width: 100%;
	bottom: 0%;
}

.character-dialog div.right .xskill > div {
  display: inline;
  color: #52432d;
  text-shadow: none;
  font-size: 16px;
  font-weight: bold;
  font-family: 'shousha';
}
.character-dialog div.right .xskill > div[data-color] {
  color: #d3c436;
}
.character-dialog div.right .xskill > div[data-color="red"] {
	color: #f0db1e;
}
.character-dialog div.right .xskill > div[data-color="black"] {
	color: #f0db1e;
}
.character-dialog div.right .xskill + .xskill {
	margin-top: 15px;
}
